body {
  font: 100%/1.5 system-ui, sans-serif;
  display: flex;
  flex-flow: column;
  max-width: 80em;
  min-height: 100vh;
  box-sizing: border-box;
  margin: auto;
  padding: 1em;
}

header {
  display: flex;
  gap: 1em;
  align-items: baseline;
}

header h1 {
  margin: 0;
}

header label {
  margin-left: auto;
  font-size: 0.9em;
}

#time-slider {
  width: 200px;
  margin-left: 0.5em;
  cursor: pointer;
}

#selected-time,
#any-time {
  display: block;
  font-weight: bold;
  color: steelblue;
  font-style: normal;
}

#any-time {
  color: #999;
  font-style: italic;
}


.legend {
  display: flex;
  gap: 1px;
  margin-block: 2em;
}

.legend > div {
  flex: 1;
  padding: 0.5em 1.5em;
  text-align: center;
  font-size: 0.85em;
  color: white;
  background: var(--color);
}

.legend > div:first-child {
  text-align: left;
}

.legend > div:last-child {
  text-align: right;
}